[BASIC]
good-names=df,th
disable=too-many-arguments,arguments-differ,too-many-locals,dangerous-default-value

[FORMAT]
max-line-length=120
too-many-arguments=5

[QUALITY]
fail-under=7.0

[REPORTS]
output-format=colorized

[MASTER]
ignore=__version__.py
